@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr), var(--font-raleway), sans-serif;
  --font-heading: var(--font-raleway), var(--font-noto-sans-kr), sans-serif;
  --color-stellanova: #520B7D;
  --color-stellanova-light: #FCF6FF;
  --color-stellanova-muted: #8B5CF6;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr), var(--font-raleway), Arial, sans-serif;
}